@model IEnumerable<GradeDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>List of my grades</h1>
<hr/>
@foreach (var item in Model)
{
    <div class="border border-1 border-dark p-2 ">
        <p>@item.SubjectName --- @item.Topic  ---  @item.Mark <br/> @item.Date.ToShortDateString() </p>
    </div>
}
