@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Admin username: esteban password: Skola123*</p>
<p>Chief username: chief password: Skola123*</p>
<p>Parent username: jendyTata password: Skola123*</p>
<p>Teacher username: ucitel password: Skola123*</p>

