@model UserViewModel

<h1>Create user</h1>

<a asp-action="Index" class="btn btn-secondary">Back to list</a>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>